/* ==========================================================================
Color variables
========================================================================== */

$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$primary: #503296;
$secondary: #873db8;
$accent: #873db8;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #bba8c7;
$tile-text:  #2a113a;
$muted-grey: #999;
$light-blue-grey: #0a254e;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #9561c9;
$mint: #d014e9;
$bloody: #9a5aaa;
$pinky: #d400ff;
$frost: #7f1988;
$placeholder: #d3a3ff;
$dark-grey: #583458;
$border-grey: #ccc;
$muted-grey: rgb(87, 87, 87);
$section-grey: #fbfbfb;